<text>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Index", "Upload")"><span class="glyphicon glyphicon-upload"></span>&nbsp;Upload</a></li>
        <li><a href="@Url.Action("Index", "Explore")"><span class="glyphicon glyphicon-book"></span>&nbsp;Explore</a></li>
    </ul>
</text>

