@{
    ViewBag.Title = "Document";
    Layout = "";
}

@Scripts.Render("~/bundles/jquery")
  
<div>
    <iframe width="500" height="500" frameborder="0" src="https://storageaccountname.blob.core.windows.net/storagecontainername/@Html.Raw(ViewBag.FileName)?containersastoken"></iframe>
</div>
